/.idea
/dz_1.py
/S Трапеции.html
/site_lesson
/sum_natural.prof
/Алгоритмы и структуры данных
/Банковская программа.html
/Домашние задания
/Игра в загадки.html
/Игра-Угадай число.html
/Конвертер валют.html
/Прокопенко - ДЗ №3.zip
/Прокопенко - ДЗ №4.zip
/Прокопенко - ДЗ(2).zip
/Прокопенко - ДЗ.zip
/Тренировка слепой печати.html
/Функции.html