.dropdown {
    position: relative;
    button {
        color: rgb(140, 140, 140);
        font-size: 14px;
        font-weight: 700;
        text-align: right;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 13px;
        margin-block: 0;
    }
    &:hover, &:active {
        .dropdown-menu {
            // display: flex;
            visibility: visible;
        }
    }

    &-menu {
        background-color: lighten(rgb(140, 140, 140), 25%);
        visibility: hidden;
        width: max-content;
        display: flex;
        padding: 2em;
        flex: 1 1 0;
        flex-flow: column nowrap;
        gap: 2vmin;
        text-transform: uppercase;
        position: absolute;
        top: 2em;
        li {
            list-style: none;
        }
    }
    .caret {}
}